html, body {
    font-family: Courier New, Courier, monospace;
    height: 100%;
    margin:0;
	padding:0;
}

.head_bg { 
    background-image: url("../food.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    text-align: center;
    color: black;
    margin-bottom: 0;
}

input[type=text] {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../search.png');
    background-blend-mode: exclusion;
    background-position: 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 60%;
}

.bg_1 {
    margin: 40px;
}

.bg_2{
    background-color: whitesmoke;
    width: 100%;
}

.bg_3 {
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.bg_4 {
    margin: 5px;
    text-align: center;

}

footer {
    width: 100%;
    text-align: center;
    padding: 1%;
    background-color: whitesmoke;
}