html, body {
    font-family: Courier New, Courier, monospace;
    height: 100%;
}

.head_bg { 
    background-image: url("../food.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: soft-light;
    text-align: center;
    color: black;
    margin-bottom: 0;
}

input[type=text] {
    width: 25%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 60%;
}

#button {
    margin: 10px;
}

.wrapper {
    margin: 1%;
    padding: 1%;
    width: 80%;
    margin: auto;
    height: 100%;
    text-align: center;
    background-color: silver;
}
.bg2{
    background-color: silver;
    width: 100%;
}

.bg1 {
    background-color:inherit;
}

.footer {
    width: 100%;
    padding: 1%;
    border-top-color: black;
    background-color: whitesmoke;
}